/* reset */
* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
/* header */
header {
  width: 1200px;
  /* background-color: #f44336; */
  /* display: flex;
  justify-content: flex-end; */
}
nav {
  display: flex;
  justify-content: flex-end;
}
header a {
  font-size: 25px;
  padding: 15px 0px;
  display: block;
}
div a:hover {
  background-color: #444;
  color: #666;
}

/* container */
.container {
  text-align: center;
}
.container h2 {
  font-size: 40px;
  color: #666;
  margin: 40px 0px;
}
.container p {
  font-size: 20px;
  color: #666;
}
.container a {
  background-color: #444;
  color: #fff;
  padding: 15px 0px;
  display: block;
}
.container a:hover {
  background-color: #444;
  color: #666;
}
.container .toggle {
  width: 200px;
  margin: 50px auto;
  text-align: center;
}
section {
  /* background-color: yellow; */
  width: 1200px;
  display: flex;
  margin: 0px auto;
}
section div {
  width: 1200px;
}
section img {
  width: 100%;
  display: block;
}

/* footer */
footer {
  background-color: #ececec;
  padding: 70px;
}
footer .sns {
  color: #666;
  font-size: 20px;
}
ul {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.power {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

footer .power a {
  text-decoration: underline;
  padding: 0px 4px;
  /* background-color: #fff; */
}
footer a:hover {
  background-color: #fff;
  color: green;
}
